.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.times-up {
  color: red;
  font-size: 24px;
}

.left {
  float: left;
}

.jira-timer {
  font-size: 20px;
}

.home-button {
  margin-top: 20px;
}

.App-intro input {
  margin: 12px;
  width: 300px;
}

.slogan-text {
  margin: 20px;
  font-weight: bold;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.jira-issue {
  margin: 20px;
  padding: 10px;
  display: inline-block;
  border: 1px dashed black;
  margin-bottom: 10px;
  max-width: 400px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.error-text {
  color: red;
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.credentials-button {
  margin: 20px;
}

.jira-timer {
  padding: 20px;
}
